.user-form-wrap {
  margin-top: 20px;
  border:solid 1px rgb(199, 199, 199);
  padding: 10px;
  border-radius: 5px;
}
.form-item {
  border-top: solid 1px rgb(197, 197, 197);
  padding-top: 5px;
  margin-top: 10px;
}
.form-item:first-of-type {
  border: none;
  margin-top: 0;
}
.form-item input {
  width: 300px;
}
.user-form-content {
  border: solid 1px rgb(197, 197, 197);
  border-radius: 5px;
  padding: 10px;
}
.material-symbols-outlined {
  font-size: 23px;
}
.form-item label {
  position: relative;
}
.form-item .material-symbols-outlined {
  position: absolute;
  top: -1px;
  right: 5px;
  cursor: pointer;
}
.form-btn-wrap {
  margin-top: 20px;
}
.form-btn-wrap button {
  width: 200px;
}
.form-item .open {
  display: none;
}
.err {
  font-size: 13px;
  color: red;
  display: block;
}