.user-form-wrap {
  border:solid 1px rgb(199, 199, 199);
  padding: 10px;
  border-radius: 5px;
  width: 500px;
}
label {
  display: block;
}
input {
  padding: 5px;
  margin-top: 5px;
  border: solid 1px rgb(172, 172, 172);
  border-radius: 5px;
  background-color: rgb(241 241 241);
}
button {
  width:200px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(92, 58, 212);
  border: none;
  color: #ffff;
  font-weight: bold;
  cursor: pointer;
}