.weather-app {
  margin-top: 20px;
  border:solid 1px rgb(199, 199, 199);
  padding: 10px;
  border-radius: 5px;
}
.app-title {
  display: flex;
  align-items: center;
}
.title-icon {
  width: 20px;
  height: 20px;
}
.weather-search {
  margin-left: 5px;
}
.weather-text {
  font-size: 15px;
  color: #3c3c3c;
}
.weather-app img {
  width: 100%;
}
.local-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.local-temp {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}
.local-name {
  font-weight: bold;
  text-align: center;
}
.weather-item {
  margin-top: 10px;
  border: solid 1px #b3b3b3;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}
.weather-forecast button {
  margin-left: 10px;
}
.weather-forecast .load-wrap {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.weather-forecast .load-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.weather-forecast .load-icon svg {
  stroke: #009688;
}
.weather-forecast .load-text {
  color: #009688;
  font-weight: normal;
  font-size: 1.4rem;
}
.weather-forecast .load-icon svg circle {
  fill: none;
}
.weather-display-wrap .main-weather {
  margin-top: 10px;
}
.weather-display-wrap .current-date {
  font-size:14px;
  color: #d67d0e;
}
.weather-display-wrap .main-weather {
  display: flex;
  align-items: center;
  background-color: #e3e3e3;
  padding: 10px;
  border-radius: 10px;
}
.weather-display-wrap h2 {
  font-size: 20px;
  margin: 0;
}
.weather-display-wrap .main-container-item {
  display: flex;
  align-items: center;
}
.weather-display-wrap .main-weather-icon {
  width: 50px;
  height: 50px;
}
.weather-display-wrap .main-weather-temp {
  font-size: 25px;
}
.weather-display-wrap svg {
  width: 18px;
  vertical-align: text-bottom;
}
.weather-display-wrap .sub-container {
  margin-left: 30px;
  border-left: solid 3px #d67d0f;
  padding-left: 5px;
}
.weather-display-wrap .sub-container-item {
  display: flex;
  align-items: center;
}
.weather-display-wrap .sub-container .sub-container-item:last-of-type {
  margin-top: 5px;
}
.weather-display-wrap .sub-container-item div:last-of-type {
  margin-left: 10px;
}
.sub-weather {
  margin-top: 20px;
}
.sub-weather .future-icon {
  width: 40px;
  height: 40px;
  margin-left: 40px;
}
.sub-weather .sub-weather-item {
  display: flex;
  align-items: center;
  background-color: #e3e3e3;
  padding: 0px 5px;
  border-radius: 6px;
  margin-top: 10px;
}
.sub-weather .future-temp {
  margin-left: 10px;
}
.weather-app .load-icon {
  width: 20px;
  height: 20px;
}
.weather-app .load-icon svg circle {
  fill: none;
}